{% extends "padre.html"%}

{% load static %}


{% block contenido%}
<main>
  <h1 style="color: blue">Registrar al doctor:</h1>
  <form action="doctor" method="POST">
      {% csrf_token %}
      <p style="color: blue">Nombre: <input type="text" name="nombre" required></p>
      <p style="color: blue">Apellido: <input type="text" name="apellido" required></p>
      <p style="color: blue">Especialidad: <input type="text" name="especialidad" required></p>
      <p style="color: blue">Email: <input type="email" name="email" required></p>
      <p style="color: blue">Telefono: <input type="tel" name="telefono" required></p>
      <input type="submit" value="Enviar">
    </form>
  </main>
{% endblock %}