{% extends "padre.html"%}

{% load static %}


{% block contenido %}



                        
                        <h2 style="color: blue">Registrarse:</h2>
                        <form action="" method="POST" style="color: blue;">
                            {% csrf_token %}
                            <table>
                            {{form.as_table}}
                            </table>
                            <button type="submit">Registrar</button>
                        </form>
                        <a href="{% url 'login' %}">Regresar a inicio</a>
{% endblock %}